@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Nunito:ital,wght@1,300&display=swap');

:root {
  --errorHeight: 1rem;
}

body {
  
}

select {
  background-color: white;
}



#content {
  display: flex;
  flex-direction: row;

}

.sideImage {
  width: 35vw;
}

.formWrapper {
  display: flex;
  width: 65vw;
  margin: 2rem;
  display: grid;
  justify-content: center;
  grid-template-columns: 12rem 12rem;
  grid-auto-rows: 3em;
  grid-row-gap: 2rem;
  grid-column-gap: 4rem;
}



.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: var(--errorHeight);

}

.email {
  grid-column: 1 / span 2;
}

#signUpCountry {

}

#signUpPostcode {

}

#signUpPassword {

}

#signUpConfirmPassword {

}

.submit {
  grid-column: 1 / span 2;
  justify-self: center;
  display:
   flex;
}

.error {
  transition: all 200ms;
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 0;
  margin-top: 0px;
  font-size: 14px;
  margin-bottom: -1rem;
}


input:valid, select:valid{
  border: 1px solid green;
}

input:invalid, select:invalid{
  border: 1px solid red;
}